<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="2.14.3-alpha" targetFramework="net45" />
  <package id="Accord.Audio" version="2.14.3-alpha" targetFramework="net45" />
  <package id="Accord.Math" version="2.14.3-alpha" targetFramework="net45" />
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Genetic" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Neuro" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Vision" version="2.2.5" targetFramework="net45" />
  <package id="Frapper" version="1.0.4" targetFramework="net45" />
  <package id="NReco.VideoConverter" version="1.0.5.0" targetFramework="net45" />
  <package id="portable.aforge.core" version="2.2.5.50319" targetFramework="net45" />
  <package id="portable.aforge.genetic" version="2.2.5.50319" targetFramework="net45" />
  <package id="portable.aforge.math" version="2.2.5.50319" targetFramework="net45" />
  <package id="SharpDX" version="2.6.2" targetFramework="net45" />
  <package id="shim" version="1.0.1.50318" targetFramework="net45" />
</packages>